<div class="row gx-5 nav alert   container-fluid" style="margin:0; background-color:rgb(195, 205, 232);">
   <div class="col-md-3 navbar-brand ">
      <span style="color:danger" class="h3">NG CRUD</span>
   </div>
   <div class=" row col-md-9">
      <div class="col-md-1">
         <a routerLink="crud" class="btn btn-sm btn-secondary" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">CRUD</a>
      </div>

      <div class="col-md-1">
         <a routerLink="table" class="btn btn-sm btn-secondary" routerLinkActive="active">TABLE</a>
      </div>

      <div class="col-md-1">
         <a routerLink="table" class="btn btn-sm btn-secondary" routerLinkActive="active">TABLE</a>
      </div>

      <div class="col-md-1">
         <a routerLink="table" class="btn btn-sm btn-secondary" routerLinkActive="active">TABLE</a>
      </div>

      <div class="col-md-1">
         <a routerLink="table" class="btn btn-sm btn-secondary" routerLinkActive="active">TABLE</a>
      </div>

      <div class="offset-md-4 col-md-3">
         <input type="text" style="color:navy;" class="form-control"
            value="{{currentTime | date }} {{currentTime | date :'HH:mm:ss a '}} {{msg}}" readonly>
         <!-- {{currentTime | date }} {{currentTime | date :"HH:mm:ss a"}} <br><span style="color:navy" class="h3">{{msg}}</span> -->
      </div>
   </div>


</div><br>

<router-outlet></router-outlet>